@{
    ViewBag.Title = "Home Page";
}
@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong>Sukces! </strong>@ViewBag.Message
        </div>
    }
}
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

@model IEnumerable<SystemRezerwacjiKortow.Models.OpeningHours>

@{
    ViewBag.Title = "OpeningHoursList";
}

<h2>Opening Hours</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeTo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.DayName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.TimeFrom)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.TimeTo)
            </th>
        </tr>
    }

</table>


@*<div>
        @model IEnumerable<SystemRezerwacjiKortow.Models.User>

        @{
            ViewBag.Title = "UserList";
        }

        <h2>User List</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsEmailVeryfied)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.UserID)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Surname)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.IsEmailVeryfied)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </th>
            </tr>
            }

        </table>
    </div>*@


@*<div>
        @model IEnumerable<SystemRezerwacjiKortow.Models.Customer>

        @{
            ViewBag.Title = "CustomerList";
        }

        <h2>CustomerList</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Street)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.City)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Street)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </th>
            </tr>
            }

        </table>
    </div>*@