@model SystemRezerwacjiKortow.Models.Gear

@{
    ViewBag.Title = "Delete";
}

<h2>@SystemRezerwacjiKortow.Resources.Texts.Delete</h2>

<h3>@SystemRezerwacjiKortow.Resources.Texts.DeleteQuestion?</h3>
<div>
    <h4>@SystemRezerwacjiKortow.Resources.Texts.Gear</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PriceH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@SystemRezerwacjiKortow.Resources.Texts.Delete class="btn btn-default" /> |
            @Html.ActionLink(SystemRezerwacjiKortow.Resources.Texts.ReturnToList, "Index")
        </div>
    }
</div>
