@model IEnumerable<SystemRezerwacjiKortow.Models.Gear>

@{
    ViewBag.Title = "Index";
}

<h2>Sprzęt</h2>

<div class="form-horizontal">

    <div class="form-group">
        @Html.Label("Pokaz:")
        <input type="button" value="Powrót" onclick="location.href='@Url.Action("Index", "Admin")'" />
        <input type="button" value="Korty" onclick="location.href='@Url.Action("Index", "Court")'" />
        <input type="button" value="Uzytkownicy" onclick="location.href='@Url.Action("Index", "Users")'" />
        <input type="button" value="Kompleksy" onclick="location.href='@Url.Action("Index", "Complex")'" />
    </div>

</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PriceH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PriceH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GearID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GearID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GearID })
        </td>
    </tr>
}

</table>
