@model IEnumerable<SystemRezerwacjiKortow.Models.Gear>
@{
    ViewBag.Title = "PriceListGear";
}

@Html.Partial("_PriceListPartial")

<h3>@SystemRezerwacjiKortow.Resources.Texts.EquipmentRental</h3>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" style="display:none;">
                <span class="glyphicon glyphicon-ok"></span>
            </div>
            <table class="table">
                <thead>
                    <tr style="font-size:large">
                        <th>
                            @SystemRezerwacjiKortow.Resources.Texts.EquipmentType
                        </th>
                        <th>
                            @SystemRezerwacjiKortow.Resources.Texts.Amount
                        </th>
                        <th>
                            @SystemRezerwacjiKortow.Resources.Texts.Price
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PriceH)
                        </td>

                    </tr>
                }
                <tr class="znizka-row">
                    <td >
                        @SystemRezerwacjiKortow.Resources.Texts.Discount
                        <img src="https://dl1.cbsistatic.com/i/r/2017/02/01/495a0923-7366-4145-80c4-01696adb5646/thumbnail/32x32/5ef057a4b4eb621949d290ef5a18ffe8/fmimg7012791019915209795.png" />
                    <td>
                        @SystemRezerwacjiKortow.Resources.Texts.AllGears
                    </td>
                    
            <td style="color:forestgreen">
                @SystemRezerwacjiKortow.Resources.Texts.ClientDiscount
            </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
(function ($) {
        $.fn.extend({
            tableAddCounter: function (options) {

                // set up default options
                var defaults = {
                    title: '#',
                    start: 1,
                    id: false,
                    cssClass: false
                };

                // Overwrite default options with user provided
                var options = $.extend({}, defaults, options);

                return $(this).each(function () {
                    // Make sure this is a table tag
                    if ($(this).is('table')) {

                        // Add column title unless set to 'false'
                        if (!options.title) options.title = '';
                        $('th:first-child, thead td:first-child', this).each(function () {
                            var tagName = $(this).prop('tagName');
                            $(this).before('<' + tagName + ' rowspan="' + $('thead tr').length + '" class="' + options.cssClass + '" id="' + options.id + '">' + options.title + '</' + tagName + '>');
                        });

                        // Add counter starting counter from 'start'
                        $('tbody td:first-child', this).each(function (i) {
                            $(this).before('<td>' + (options.start + i) + '</td>');
                        });

                    }
                });
            }
        });
})(jQuery);

$(document).ready(function () {
        $('.table').tableAddCounter();
        $.getScript("http://code.jquery.com/ui/1.9.2/jquery-ui.js").done(function (script, textStatus) { $('tbody').sortable(); $(".alert-info").alert('close'); $(".alert-success").show(); });
});
</script>

