@model IEnumerable<SystemRezerwacjiKortow.Models.Post>
@{
    ViewBag.Title = "PostsForUsers";
}

<h2>@SystemRezerwacjiKortow.Resources.Texts.Posts</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TitlePL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleDE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionPL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionDE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfInsert)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TitlePL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleDE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionPL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionDE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfInsert)
            </td>
          
        </tr>
    }

</table>

