@model IEnumerable<SystemRezerwacjiKortow.Models.Contest>

@{
    ViewBag.Title = "Contest";
}

<h2>@SystemRezerwacjiKortow.Resources.Texts.Contests</h2>

@Html.Partial("_AdminPartial")

<p>
    @Html.ActionLink(SystemRezerwacjiKortow.Resources.Texts.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            <td>
                @Html.ActionLink(SystemRezerwacjiKortow.Resources.Texts.Edit, "Edit", new { id = item.ContestID }) |
                @Html.ActionLink(SystemRezerwacjiKortow.Resources.Texts.Details, "Details", new { id = item.ContestID }) |
                @Html.ActionLink(SystemRezerwacjiKortow.Resources.Texts.Delete, "Delete", new { id = item.ContestID })
            </td>
        </tr>
    }

</table>
