@model IEnumerable<SystemRezerwacjiKortow.Models.Court>

@{
    ViewBag.Title = "Courts";
}

<h2>Courts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourtNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurfaceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsForDoubles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCovered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourtNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurfaceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsForDoubles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCovered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourtID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourtID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourtID })
        </td>
    </tr>
}

</table>
