
@{
    ViewBag.Title = "Index";
}

<h2>Panel Admninistacyjny</h2>

<div class="form-horizontal">

    <div class="form-group">
        @Html.Label("Pokaz:")
        <input type="button" value="Korty" onclick="location.href='@Url.Action("Index", "Court")'" />
        <input type="button" value="Sprzet" onclick="location.href='@Url.Action("Index", "Gear")'" />
        <input type="button" value="Uzytkownicy" onclick="location.href='@Url.Action("Users", "Admin")'" />
        <input type="button" value="Kompleks" onclick="location.href='@Url.Action("Complex", "Admin")'" />
        <input type="button" value="Wydarzenia" onclick="location.href='@Url.Action("Contest", "Admin")'" />
        <input type="button" value="Reklamy" onclick="location.href='@Url.Action("Advertisements", "Admin")'" />
    </div>

</div>