
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">

            <ul id="myTab" class="nav nav-tabs">
                <h2 style="color:forestgreen">@SystemRezerwacjiKortow.Resources.Texts.PriceList</h2>
                <li><a href="#a" onclick="location.href='@Url.Action("PriceList","Home")'" data-toggle="tab">@SystemRezerwacjiKortow.Resources.Texts.PriceListSummer <img src="https://cdn.emojidex.com/emoji/px32/sun_with_face2.png?1417138994"/></a></li>
                <li><a href="#b" onclick="location.href='@Url.Action("PriceListWinter","Home")'" data-toggle="tab">@SystemRezerwacjiKortow.Resources.Texts.PriceListWinter <img src="https://dl1.cbsistatic.com/i/r/2017/08/31/54446029-e5da-4940-bf44-5fa3ab2dae9a/thumbnail/32x32/3e2e6f0eb34e08816dce0452027c78f4/iconimg140744.png"/></a></li>
                <li><a href="#c" onclick="location.href='@Url.Action( "PriceListGear", "Home")'" data-toggle="tab">@SystemRezerwacjiKortow.Resources.Texts.EquipmentRental <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhmrsMgic1g8NDriW1ENFjv0958XbXnnfWvD6bgbVYXPnvgr18"/> </a></li>

            </ul>
        </div>
    </div>
</div>